body{
  background-image: url(./images//b1.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.container{
  position: fixed;
  left:0;
  top:0;
  width:100%;
  height:100%;
  overflow-y: auto;
}